[submodule ".vim/bundle/ack.vim"]
	path = .vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim
  ignore = untracked
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
  ignore = untracked
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
  ignore = untracked
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
  ignore = untracked
[submodule ".vim/bundle/scratch.vim"]
	path = .vim/bundle/scratch.vim
	url = https://github.com/ethanmuller/scratch.vim
  ignore = untracked
[submodule ".vim/bundle/sparkup"]
	path = .vim/bundle/sparkup
	url = https://github.com/rstacruz/sparkup
  ignore = untracked
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
  ignore = untracked
[submodule ".vim/bundle/tlib_vim"]
	path = .vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim
  ignore = untracked
[submodule ".vim/bundle/vim-addon-mw-utils"]
	path = .vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils
  ignore = untracked
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
  ignore = untracked
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
  ignore = untracked
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
  ignore = untracked
[submodule ".vim/bundle/vim-projectionist"]
	path = .vim/bundle/vim-projectionist
	url = https://github.com/tpope/vim-projectionist
  ignore = untracked
[submodule ".vim/bundle/vim-rake"]
	path = .vim/bundle/vim-rake
	url = https://github.com/tpope/vim-rake
  ignore = untracked
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat
  ignore = untracked
[submodule ".vim/bundle/vim-slime"]
	path = .vim/bundle/vim-slime
	url = https://github.com/jpalardy/vim-slime
  ignore = untracked
[submodule ".vim/bundle/vim-snipmate"]
	path = .vim/bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate
  ignore = untracked
[submodule ".vim/bundle/vim-snippets"]
	path = .vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets
  ignore = untracked
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
  ignore = untracked
[submodule ".vim/bundle/ri.vim"]
	path = .vim/bundle/ri.vim
	url = https://github.com/danchoi/ri.vim.git
  ignore = untracked
[submodule ".vim/bundle/vim-userstories"]
	path = .vim/bundle/vim-userstories
	url = https://github.com/ThijsWouters/vim-userstories.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule ".oh-my-zsh-custom/themes/powerlevel9k"]
	path = .oh-my-zsh-custom/themes/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
[submodule ".vim/bundle/vim-table-mode"]
	path = .vim/bundle/vim-table-mode
	url = https://github.com/dhruvasagar/vim-table-mode.git
[submodule ".vim/bundle/vim-tsv"]
	path = .vim/bundle/vim-tsv
	url = https://github.com/pdurbin/vim-tsv.git
[submodule ".vim/bundle/vim-elixir"]
	path = .vim/bundle/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule ".vim/bundle/SyntaxRange"]
	path = .vim/bundle/SyntaxRange
	url = https://github.com/vim-scripts/SyntaxRange.git
[submodule ".vim/bundle/ingo-library"]
	path = .vim/bundle/ingo-library
	url = https://github.com/vim-scripts/ingo-library.git
[submodule ".vim/bundle/vim-fireplace"]
	path = .vim/bundle/vim-fireplace
	url = https://github.com/tpope/vim-fireplace.git
[submodule ".vim/bundle/vim-test"]
	path = .vim/bundle/vim-test
	url = https://github.com/janko-m/vim-test.git
[submodule ".vim/bundle/elm.vim"]
	path = .vim/bundle/elm.vim
	url = https://github.com/lambdatoast/elm.vim.git
[submodule ".vim/bundle/vimux"]
	path = .vim/bundle/vimux
	url = https://github.com/benmills/vimux.git
[submodule ".vim/bundle/rust.vim"]
	path = .vim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
