[core]
	excludesfile = ~/.gitignore_global
	editor = vim
	autocrlf = input
[help]
	autocorrect = 1
[user]
	name = Thijs Wouters
	email = thijs@morewood.be
[merge]
	tool = vimdiff
	conflictstyle = diff3
	prompt = false
